
#camada1{
    position: absolute;
    top:10px;
    left:100px;
    width: 160px;
    height:100px;
    text-align: center;  
    background-color: rgb(55, 0, 255);
    z-index :1;
}
#camada2{
    position: absolute;
    top: 10px;
    left: 260px;
    background-color: red;
    text-align: center;
    width: 640px;
    height: 100px;
    z-index: 2;
}
#camada3{
    position: absolute;
    top: 110px;
    left: 100px;
    background-color: rgb(8, 170, 8);
    text-align: center;
    width: 800px;
    height: 40px;
    z-index: 1;

}
#camada4{
    position: absolute;
    top: 150px;
    left:100px;
    width: 780px;
    height: 380px;
    z-index: 4;
    text-align: center;
    background-color:yellow ;
    border: 10px solid red ;


}
#camada5{
    position: absolute;
    top: 530px;
    left: 100px;
    background-color: gray;
    text-align: center;
    width: 800px;
    height: 50px;
}