body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.barra-lateral {
    width: 240px;
    background-color: #111; /* Fundo preto para a barra lateral */
    color: #fff; /* Texto branco */
    border-right: 1px solid #333; /* Borda cinza escuro */
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.item-barra-lateral {
    margin-bottom: 10px;
}

.logo {
    height: 40px;
}

.navegacao-barra {
    display: flex;
    flex-direction: column;
}

.link-barra {
    text-decoration: none;
    color: #fff; /* Texto branco */
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
}

.link-barra:hover {
    background-color: #333; /* Fundo cinza escuro ao passar o mouse */
}

.conteudo-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #111; /* Fundo preto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    color: #fff; /* Texto branco */
}

.container-cabecalho {
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar horizontalmente */
    max-width: 1200px;
    margin: auto;
}

.logo-cabecalho img {
    height: 40px;
    margin-right: 20px;
}

input[type="text"] {
    width: 500px;
    padding: 10px;
    border: 1px solid #666; /* Borda cinza escuro */
    border-radius: 5px;
    background-color: #222; /* Fundo do campo de busca */
    color: #fff; /* Texto do campo de busca */
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ff0000; /* Fundo vermelho */
    color: #fff; /* Texto branco */
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #cc0000; /* Vermelho mais escuro ao passar o mouse */
}

.seccao-videos {
    padding: 20px;
}

.seccao-videos h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff; /* Texto branco */
}

.grade-videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card-video {
    background-color: #222; /* Fundo preto para os cards */
    border: 1px solid #444; /* Borda cinza escuro */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-video img {
    width: 100%;
    height: auto;
}

.info-video {
    padding: 15px;
}

.info-video h3 {
    font-size: 18px;
    margin: 0;
    color: #fff; /* Texto branco */
}

.info-video p {
    color: #ccc; /* Texto cinza claro para informações secundárias */
    margin: 5px 0;
}
.logoyt{
    padding-right: 1275px;
}