
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.header {
  text-align: center;
  background-color: #d32f2f;
}

.navbar a {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.banner {
  width: 100%;
  height: auto;
}


.intro {
  display: flex;
  padding: 20px;
  background-color:rgb(241, 159, 159)
}
.intro p{
  color: white;
}
.intro h2{
  color: white;
}
.intro img {
  width: 40%;
  margin-left: 20px;
}


.products {
  display: flex;
  justify-content: space-around;
  background-color:white;
  padding: 20px;
  width: 100%;
}

.product {
  text-align: center;
}

.price {
  color: red;
  font-weight: bold;
}


.location {
  display: flex;
  justify-content: space-around;
  background-color: #ff9800;
  padding: 20px;
}


.contact {
  display: flex;
  justify-content: space-around;
  background-color: #ffeb3b;
  padding: 20px;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.contact input, .contact textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.contact button {
  padding: 10px;
  background-color: #0d47a1;
  color: white;
  border: none;
  cursor: pointer;
}

.social-media {
  display: flex;          
  justify-content: flex-end; 
  padding: 20px;          
}

.social-media .icons img {
  width: 7%;
  margin: 5px;
}



.footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
}
